<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.106.17" targetFramework="net461" />
  <package id="AWSSDK.Rekognition" version="3.3.105.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
</packages>